name: Python CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip install -r requirements.txt

    - name: Lint with flake8
      run: |
        flake8 src --count --select=E9,F63,F7,F82 --show-source --statistics

    - name: Setup DVC
      env:
        DVC_USER: ${{ secrets.DAGSHUB_USERNAME }}
        DVC_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        dvc remote modify origin --project auth basic
        dvc remote modify origin --project user $DVC_USER
        dvc remote modify origin --project password $DVC_TOKEN
        
        dvc pull

    - name: Run Unit Tests
      env:
        PYTHONPATH: src
      run: |
        python -m pytest tests/

    - name: Build Docker Image
      run: |
        docker build . --file Dockerfile --tag sentiment_analysis:test